---
layout: null
---

<!doctype html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="jumbotron jumbotron-fluid text-center">
      <div class="container">
        <h1 class="display-4">
          <sup style="visibility: hidden">?</sup>Buttfumble<sup
            ><a href="https://www.youtube.com/watch?v=82RIfy-gRa4">?</a></sup
          >
        </h1>
        <p class="lead">Honoring the man, Mark Sanchez, since 2013.</p>
        <a
          class="btn btn-light btn-lg"
          href="https://fantasy.nfl.com/league/2020807"
          role="button"
          >View League</a
        >
      </div>
    </div>
    {% assign seasons = site.data.seasons | sort %} {% for season_hash in
    seasons reversed %} {% assign season = season_hash[1] %} {% include
    timeline_header.html season=season %}
    <section class="timeline container my-5">
      <div class="bone bg-primary rounded"></div>
      {% for item in season.timeline %} {% if item.type == "draft" %} {% include
      blocks/draft.html item=item %} {% elsif item.type == "transaction" %} {%
      include blocks/transaction.html item=item %} {% elsif item.type ==
      "standings" or item.type == "playoffs" %} {% include blocks/standings.html
      item=item %} {% else %} {% include blocks/record.html item=item %} {%
      endif %} {% endfor %}
    </section>
    {% endfor %}
    <small style="display: block; text-align: center; padding-bottom: 3rem"
      >😵 🍑 🏈</small
    >
  </body>
</html>
