<div class="timeline-block">
  <div class="icon bg-primary">
    {% if include.item.action == "added" %}
    <i class="fas fa-plus fa-inverse fa-fw"></i> {% elsif include.item.action ==
    "removed" %} <i class="fas fa-minus fa-inverse fa-fw"></i> {% else %}
    <i class="fas fa-map-marker fa-inverse fa-fw"></i> {% endif %}
  </div>
  <div class="card col-10 col-lg-11 col-xl-5 border-primary bg-primary">
    {% if include.item.image %}
    <img
      src="{{ include.item.image }}"
      class="card-img-top"
      style="width: 100%"
      alt="{{ include.item.team }}"
    />
    {% endif %}
    <div class="card-body">
      <h2 class="card-title font-weight-bold text-white">
        {{ include.item.team }}
      </h2>
      <h3 class="timeline-date text-primary">{{ include.item.date }}</h3>
      <p class="card-text text-light text-justify">
        {{ include.item.summary }}
      </p>
    </div>
  </div>
</div>
